@import 'mixin.scss';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .app-title {
    display: flex;
    height: 256px;
    border-bottom: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    background: url('../img/2.jpg');
    @include blur(0px);
  }
  .app-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .app-footer {
    height:116px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .app-footer-btn {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

:global {
  .tabBar {
    width: 100%;
  }
  .am-tab-bar-bar {
    height: 116px !important;
    .am-badge-text {
      border-radius: 24px !important;
      padding: 0 10px !important;
      height: 36px !important;
      line-height: 36px !important;
    }
    .am-tab-bar-tab-icon .tab-badge :last-child {
      margin-top: 0px;
      left: 44px;
    }
    .am-badge-dot {
      left: 44px !important;
    }
  }
}