@import "../../assets/css/mixin";
.vue-list{
    width: 100vw;
    overflow-y: auto;
    ul {
        &::after {
            display:block;
            clear:both;
            content:""!important;
            visibility:hidden;
            height:0
        }
    }
    .list-item {
        display: flex;
        float: left;
        width: 50vw;
        height: 300px;
        justify-content: center;
        align-items: center;
        padding: 5px;
        &:nth-child(odd) {
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
        }
        &:nth-child(even) {
            border-bottom: 1px solid #eee;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}